* {
  box-sizing: border-box;
}

body {
  background-color: #666;
  padding: 0 2rem;
}

h1 {
  margin: 2rem auto;
  font-family: Anton;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: white;
}

.container {
  max-width:35rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 80%vw;
  margin: 3rem auto;
  background: pink;
  gap: 2rem;
  max-height: 80vh;
}

div {
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.container * {
  pointer-events: auto;
}
